.rounded_direita {
    border-radius: 5px 0px 0px 5px;
    border-right: 1.5px solid rgba(128, 128, 128, 0.3);
}

.rounded_esquerda {
    border-radius: 0px 5px 5px 0px;
    border-left: 1.5px solid rgba(128, 128, 128, 0.3);
}

.rounded-5 {
    border-radius: 15px;
}

.timer {
    padding: 10px 20px;
}

.timer-label {
    font-size: 17px;
    font-weight: bold;
}

.timer-label div {
    font-size: 13px;
}

.timer-num {
    font-size: 1.3em;
    font-weight: bold;
}

.timer-txt {
    font-size: 0.9em;
    margin-top: -5px;
}

.number-cont {
    padding-left: 35%;
    padding-right: 35%;
}

.button-classic {
    background-color: rgb(179, 178, 178);
}

.button-classic:hover {
    background-color: gray;
}