.rounded_direita {
    border-radius: 5px 0px 0px 5px;
    border-right: 1.5px solid rgba(128, 128, 128, 0.3);
}

.rounded_esquerda {
    border-radius: 0px 5px 5px 0px;
    border-left: 1.5px solid rgba(128, 128, 128, 0.3);
}

.rounded-5 {
    border-radius: 15px;
}

.timer {
    padding: 10px 20px;
}

.timer-label {
    font-size: 17px;
    font-weight: bold;
}

.timer-label div {
    font-size: 13px;
}

.timer-num {
    font-size: 1.3em;
    font-weight: bold;
}

.timer-txt {
    font-size: 0.9em;
    margin-top: -5px;
}

.number-cont {
    padding-left: 35%;  
    padding-right: 35%;
    background-color: rgba(172, 168, 168, 0.8);
    color: white;
    border-radius: 15px;
}

.button-classic {
    background-color: rgba(156, 156, 156, 0.2);
    color: rgb(46, 42, 42);
    font-weight: bolder;
    font-size: 1.2em;
}

.button-classic:hover {
    background-color: gray;
}

.button-dark {
    background-color: rgba(100, 100, 100, 0.8);
}

.button-dark:hover {
    background-color: rgba(100, 100, 100, 1);
}

.color-white {
    color: white;
}